body{
    background-image: url("./images/cat-han-W_5Eakb1598-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Playfair Display', serif;
}
.main{
    background-color: rgba(43, 40, 40, 0.527);
    display: block;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.linkw{
    color: rgba(255, 255, 255, 0.788);
    text-decoration: none;
    font-size: 30px;
}
.wrapper{
    display: flex;
    gap: 20px;
    background-color:rgba(255, 255, 255, 0);
    position: fixed;
    word-break:initial;
    margin: 40px;
    writing-mode: vertical-lr;
    text-orientation:sideways-right;
} 
.content{
    margin: 20px;
}
h1{
    display: flex;
    color: rgba(255, 255, 255, 0.788);;
    justify-content: center;
    position: relative;
    font-size: 40px;
}
h1::after{
   content: '';
   position: absolute;
   height: 0.1px;
   width: 420px;
   border: 1px solid white;
   top: 55px;
}
h3{
    display: block;
    color: rgba(255, 255, 255, 0.788);
    font-size: 30px;
}
.img{
    display: flex;
    background-image: url("./images/photo_2022-10-07_21-39-08.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.contm1{
   display: flex;
   width: auto;
   height: 400px;
   justify-content: space-around;
   
}
.textmain1h3{
    display: flex;
    width: 230px;
    margin-top: 20px;
}
.contm3{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.textmain3h3{
    display: flex;
    width: 210px;
    align-items: center;
    text-align: left;
}
.col{
   display: block;
   background-image: url("./images/unnamed.png");
   width: 100px;
   height: 100px;
   background-size: contain;
}
.company{
    display: block;
    align-items: center;
    justify-content: center;
}
.ithub{
    display: block;
    align-items: center;
    justify-content: center;
}
.comp{
    background-image: url("./images/Qiwi_logo.svg");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    background-size: contain;
}
.microsoft{
    display: block;
    align-items: center;
    justify-content: center;
}
.microsoftbadges{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.badg1{
    background-image: url("./images/MOS_Excel.png");
    width: 70px;
    height: 70px;
    background-size:contain;
    background-repeat: no-repeat;
}
.badg2{
    background-image: url("./images/MOS_PowerPoint.png");
    width: 70px;
    height: 70px;
    background-size:contain;
    background-repeat: no-repeat;
}
.badg3{
    background-image: url("./images/MOS_Word.png");
    width: 70px;
    height: 70px;
    background-size:contain;
    background-repeat: no-repeat;
}
.contm4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imgex{
    width: 1000px;
    height: 500px;
    background-image: url("./images/plane_example.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.imgex2{
    width: 800px;
    height: 600px;
    background-image: url("./images/pseudo_elements.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.textmain4h3{
    display: flex;
    width: 1000px;
    margin-top: 0px;
    text-align: justify;
}
.cont5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tg, .vk,.discord{
    filter: invert(95%);
}
.images5{
    display: flex;
    gap: 50px;
}
.plfb{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon{
    display: flex;
    width: 150px;
    height: 150px;
    margin: 5px;
}
.icon:hover{
    transform: scale(1.2,1.2);
    transition-duration: 1s;
}
.footer{
    margin: 40px;
}